@model Abp.Application.Services.Dto.ListResultDto<Enterprises.CMS.UserList.Dto.UserListDto>

<div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">用户管理</a> </div>
    <h1>用户管理</h1>
</div>
<div class="container-fluid">
    <hr>
    <div class="row-fluid">
        <div class="span12">
            <div class="widget-box">
                <div class="widget-content nopadding">
                    <table class="table table-bordered data-table">
                        <thead>
                            <tr>
                                <th>姓名</th>
                                <th>登入帐号</th>
                                <th>邮箱</th>
                                <th>最近登入时间</th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr class="gradeX">
                                <td>@string.Format("{0} {1}",item.Name,item.Surname)</td>
                                <td>
                                   @item.UserName
                                </td>
                                <td>@item.EmailAddress</td>
                                <td class="center">@string.Format("{0}",item.LastLoginTime==null?"":item.LastLoginTime.GetValueOrDefault().ToString(""))</td>
                            </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>